MONGO_URI=mongodb+srv://vedantkokate2104_db_user:pFRmuKueN8sMLPAB@cluster0.aeecs3q.mongodb.net/?appName=Cluster0
FRED_API_KEY=6cc1e2adc51512c42687526db31642dc
DATA_GOV_KEY=dGfCfsUPWyG7xBSRMONoLKKMzFP5dkIP6f1Hikx8
GNEWS_API_KEY=549886c622e31e59787fc4b3dbe1c64f